.AboutWrapper{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 10% 20% 5% 20%;
}

.HomeLink {
    position: absolute;
    margin: -4% 20% 0% 20%;
}

.ProfilePic {
    width: 25vw;
    border-radius: 10px;
}

.AboutText {
    padding: 10% 0% 0% 8%;
    line-height: 32px;
}

.Greeting {
    font-size: 2vw;
    margin-bottom: 5%;
}

.LinkWrapper {
    margin-top: 5%;
}

.SocalLinks {
    display: block;
    font-size: 1vw;
    font-weight: 400;
    text-decoration: none;
    color: #361671;
}
