.CSWrapper{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 8% 20% 5% 20%;
}

.HomeLink {
    text-decoration: none; 
    color: black;
    text-align: left;
    font-weight: 600;
    font-size: 1.3vw;
    padding: 0 0 5% 0;
}

.CSItem {
    padding-bottom: 2%;
    padding-top: 5%;
}

.Logo {
    position: absolute;
    top: 27%;
    left: 70%;
    height: 4vw;
}

.AppScreens {
    height: 35vw;
    margin-top: 5%;
}

.MainTitle {
    font-weight: 300;
    font-size: 2.9vw;
    line-height: 7vh;
    padding-bottom: 2%;    
}

b {
    color: #361671;
}

.Subtitle {
    font-weight: 700;
    font-size: 2vw;
}

.Description {
    font-weight: 400;
    font-size: 1.2vw;
}

ul {
    list-style-type: none;
    margin-left: 3%;
    padding-top: 2%;
}

p {
    padding-top: 2%;
}

li {
    padding: 1% 0 1% 0;
}

.ProcessItem {
    padding-top: 3%;
}

.SectionTitle {
    font-size: 1.7vw;
    color: #361671;
}

.SectionDescription {
    font-size: 1.2vw;
}

.flowchart {
    height: 28vw;
    padding-top: 5%;
}

.Prototype {
    height: 45vw;
    padding-top: 5%;
}


/* ipad Pro, ipad Landscape*/
@media only screen and (max-width: 1366px) and (orientation: landscape) {
    .CSWrapper{
        margin: 8% 10% 5% 10%;
    }
    
    .HomeLink {
        font-size: 2.5vw;
    }
    
    .CSItem {
        padding-bottom: 2%;
        padding-top: 5%;
    }
    
    .Logo {
        top: 23%;
        left: 80%;
        height: 5.5vw;
    }
    
    .AppScreens {
        height: 50vw;
        margin-top: 5%;
    }
    
    .MainTitle {
        font-size: 4vw;
        line-height: 6vh;   
    }

    ul {
        font-size: 2vw;
    }

    .Subtitle {
        font-size: 3.5vw;
    }
    
    .Description {
        font-size: 2vw;
    }
    
    .SectionTitle {
        font-size: 3vw;
        color: #361671;
    }
    
    .SectionDescription {
        font-size: 2vw;
    }
    
    .flowchart {
        height: 39vw;
        padding-top: 5%;
    }
    
    .Prototype {
        height: 60vw;
        padding-top: 5%;
    }
}

/* ipad Pro Portait*/
@media only screen and (max-width: 1024px) {

}


/* iPhone X  and Pixel 2 Landscape */
@media only screen and (max-width: 823px) and (orientation: landscape) {

    .Logo {
        top: 37%;
    }
    
    .AppScreens {
        height: 50vw;
        margin-top: 5%;
    }
    
    .MainTitle {
        line-height: 10vh;   
    }
}

/* ipad portrait */
@media only screen and (max-width: 768px) {
    .CSWrapper{
        margin: 8% 10% 5% 10%;
    }
    
    .HomeLink {
        font-size: 2vw;
    }
    
    .Logo {
        top: 23%;
        left: 82%;
        height: 7vw;
    }
    
    .AppScreens {
        height: 55vw;
    }
    
    .MainTitle {
        font-size: 5vw;
        padding-bottom: 5%;
        padding-top: 3%;
    }
    
    b {
        color: #361671;
    }

    .Subtitle {
        font-size: 4vw;
    }
    
    .Description {
        font-size: 2.3vw;
    }
    
    .SectionTitle {
        font-size: 3vw;
    }
    
    .SectionDescription {
        font-size: 2.3vw;
    }
    
    .flowchart {
        height: 39vw;
        padding-top: 5%;
    }
    
    .Prototype {
        height: 61vw;
        padding-top: 5%;
    }    
}

/* iPhone 6,7,8+, iPhone 5, 678 and Galaxy and Moto Landscape */
@media only screen and (max-width: 736px) and (orientation: landscape) {
    .Logo {
        top: 35%;
    }
    .HomeLink {
        font-size: 2.5vw;
    }
}

/* iPhone 6,7,8+ to X Portrait */
@media only screen and (max-device-width: 480px){
    .CSWrapper{
        text-align: center;
        margin: 8% 10% 5% 10%;
    }

    .CSItem {
        margin-top: 3%;
    }

    .ProcessItem {
        margin-top: 5%;
    }

    .HomeLink {
        font-size: 4vw;
    }
    
    .Logo {
        top: 15%;
        left: 45%;
        height: 10vw;
    }
    
    .AppScreens {
        height: 70vw;
    }
    
    .curiaLink {
        display: none;
    }

    .MainTitle {
        font-size: 6vw;
        line-height: 1.2;
        padding-top: 30%;
    }
    
    .Subtitle {
        font-size: 5.5vw;
    }

    .Description {
        margin-top: 2%;
        font-size: 3.3vw;
        width: 335px;
    }

    p {
        font-size: 3.3vw;
    }

    li {
        font-size: 3.1vw;
        text-align: left;
    }    

    ul {
        margin-top: 3%;
        margin-left: 5%;
    }

    .SectionTitle {
        font-size: 5vw;
    }
    
    .SectionDescription {
        font-size: 2.3vw;
    }

    .flowchart {
        height: 39vw;
        padding-top: 5%;
    }
    
    .Prototype {
        height: 61vw;
        padding-top: 5%;
    }      
}

/* iPhone X, 6,7,8 and Galaxy and Moto Portait */
@media only screen and (max-device-width: 375px){
    
    .Logo {
        top: 12%;
    }

    .Description {
        width: 295px;
    }
}

/* iPhone 5 Portait */
@media only screen and (max-device-width: 320px){
    .Logo {
        top: 14%;
    }

    .Description {
        width: 250px;
    }
}
