/* CODELINKS */
.socialLinks {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 7vh;
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    padding-top: 1%;
    justify-content: left;
    position: fixed;
}

#icon {
    color: #C4C4C4;
}

#icon:hover {
    color: #848484;
}

.socialLinks svg {
    height: 20px;
    width: 20px;
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 425px) {
    .socialLinks {
        padding: 0;
        padding-top: 1.5%;
        height: 15vh;
    }

    .socialLinks svg {
        height: 25px;
        width: 25px;
    }
}

/* MOBILE VIEW (375) */
@media only screen and (max-width: 375px) {
    .socialLinks {
        padding-right: 2vw;
    }
}

/* MOBILE VIEW (320) */
@media only screen and (max-width: 320px) {
    .socialLinks {
        padding-right: 5vw;
    }
}