.contactWrapper {
    display: flex;
    justify-content: center;
}
.contactHeader {
    top: 150%;
    color:black;
}

#contactDescription {
    position: absolute;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 400;
    font-size: 2.6vh;
    letter-spacing: 0.0676924px;    
    color: black;
    text-align: center;
    top: 156%;
}

.hireMeButton {
    top: 163%;
    left: 45.2%;
    position: absolute;
    border: 0.5vh solid #361671;
    border-radius: 5px;
    background: none;
    padding: 1rem 2rem;
    cursor: pointer;

    font-size: 2.5vh;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;    
    letter-spacing: 0.0676924px;
    color: #361671;    
}

.hireMeButton:hover {
    top: 162.8%;
}

.linkedInLogo {
    position: absolute;
    top: 176%;
    left: 44%;
    height: 7.5vh;
}

.linkedInLogo:hover {
    top: 175.8%;
}

.githubLogo {
    position: absolute;
    top: 177.2%;
    left: 48.5%;
    height: 5.3vh;
}

.githubLogo:hover {
    top: 177%;
}

.dribbbleLogo {
    position: absolute;
    top: 177.5%;
    left: 52.5%;
    height: 4.87vh;
}

.dribbbleLogo:hover {
    top: 177.3%;
}


@media only screen and (max-width: 768px) {
    .contactHeader {
        top: 385%;
        left: 37%;
    }
    
    #contactDescription {
        left: 9%;
        font-size: 2.8vw;
    }
        
    .description1 {
        top: 400%;
    }
    
    .description2 {
        display: none;
    }
    .hireMeButton {
        top: 405%;
        left: 9%;
        border: 0.8vh solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, rgba(193,230,240,1) 0%, rgba(233,200,235,1) 100%);
        padding: 0.5rem 1.5rem;
        font-size: 3vw;
    }
    
    .linkedInLogo {
        top: 413%;
        left: 8%;
        height: 10vw;
        opacity: 60%;
    }

    .githubLogo {
        top: 413.7%;
        left: 19.9%;
        height: 8vw;
        opacity: 60%;
    }
      
}
/* 
@media(max-height: 700px) {
    .githubLogo {
        top: 421.7%;
        left: 18.5%;
        height: 4.8vh;
        opacity: 50%;
    }    
    .linkedInLogo {
        top: 421%;
        left: 12.5%;
        height: 6vh;
        opacity: 50%;
    }
} */