.footerWrapper {
    background-color: rgb(242, 242, 242);
}

#footerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 75%;
    padding-top: 3%;
    font-size: 1.2vw;
    font-weight: 500;
}

.footerItem {
    text-decoration: none;
    color: black;
}

#madefrom {
    font-size: 1vw;
    margin-left: 7%;
    color: grey;
    padding-top: 3%;
}

#copyright {
    font-size: 1vw;
    margin-left:7%;
    color: grey;
    padding-top: 0.5%;
}

  
/* ipad Pro Portait*/
@media only screen and (max-width: 1024px) {

    #footerNav {
        margin-left: 65%;
        font-size: 2.3vw;
    }
    
    #madefrom {
        font-size: 2vw;

    }
    
    #copyright {
        font-size: 2vw;
    }
    
}

/* iPad Landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    #footerNav {
        margin-left: 70%;
        font-size: 1.8vw;
    }
    
    #madefrom {
        font-size: 1.5vw;

    }
    
    #copyright {
        font-size: 1.5vw;
    }
    
}

/* iPhone 6,7,8+ and pixel and X and 5 Portrait */
@media only screen and (max-device-width: 480px){
    #footerNav {
        margin-left: 50%;
        font-size: 3.5vw;
        padding-top: 4%;
    }
    
    #madefrom {
        font-size: 2.5vw;
        padding-top: 5%;

    }
    
    #copyright {
        font-size: 2.5vw;
    }
}
