.projectWrapper {
    display: grid;
    grid-template-columns: 5fr 4fr;
}

.projectsTitle {
    font-size: 2vw;
    padding-bottom: 3%;
}

.project {
    cursor: pointer;
}

.curiaThumbnail {
    position: absolute;
    height: 37vw;
    left: 12%;
    margin-top: 3%;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    margin-top: 28%;    
}

.projectTitle {
    font-weight: bold;
    font-size: 3vw;
    text-decoration: none;
    color: black;
}

.projectTitle:hover {
    color: rgb(82, 82, 82);
}

.projectSubtitle {
    font-weight: 400;
    font-size: 2vw;
    line-height: 4vh;

}
.projectRole {
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 7vh;
}

.readCS {
    font-weight: bold;
    color: #361671;
    text-decoration: none;
}


/* ipad Pro Landscape*/
@media only screen and (max-width: 1366px) and (orientation: landscape) {
    .projectWrapper {
        display: flex;
        flex-direction: column;
    }
    .curiaThumbnail {
        position: relative;
        height: 70vw;
        left: 13%;
        margin-top: 10%;
    }
    
    .projectDescription {
        display: flex;
        flex-direction: column;
        margin-top: 5%; 
        text-align: center;   
    }
    
    .projectTitle {
        font-size: 5.5vw;
    }
    
    .projectSubtitle {
        font-size: 3.5vw;  
        margin: 1% 0 2% 0;
    }

    .projectRole {
        font-size: 3.5vw;
    }
    
    .readCS {
        font-size: 3vw;
        margin-top: 3%;
        border: 2px solid #e7e7e7;
        background-color: white;
        padding: 14px 28px;                
    }
}

/* ipad Pro Portrait & Ipad Landscape*/
@media only screen and (max-width: 1024px) {
    .projectWrapper {
        display: flex;
        flex-direction: column;
    }
    .curiaThumbnail {
        position: relative;
        height: 70vw;
        left: 13%;
        margin-top: 0%;
    }
    
    .projectDescription {
        display: flex;
        flex-direction: column;
        margin-top: 5%; 
        text-align: center;   
    }
    
    .projectTitle {
        font-size: 5.5vw;
    }
    
    .projectSubtitle {
        font-size: 3.5vw;  
        margin: 1% 0 2% 0;
    }

    .projectRole {
        font-size: 3.5vw;
    }
    
    .readCS {
        font-size: 3vw;
        margin-top: 3%;
        border: 2px solid #e7e7e7;
        background-color: white;
        padding: 14px 28px;                
    }
}

/* iPhone X and Pixel Landscape */
@media only screen and (max-width: 823px) and (orientation: landscape) {
    
    .projectSubtitle {
        line-height: 40px;
    }

    .projectRole {
        font-size: 3.5vw;
        margin: 2% 0 2% 0;
    }
    
    .readCS {
        font-size: 2.5vw;
    }
}

  /* IPad portait */
  @media only screen and (max-width: 768px) {
    .projectWrapper {
        display: flex;
        flex-direction: column;
    }
    
    .curiaThumbnail {
        position: relative;
        height: 70vw;
        left: 13%;
        margin-top: 0%;
    }
    
    .projectDescription {
        display: flex;
        flex-direction: column;
        margin-top: 5%; 
        text-align: center;   
    }
    
    .projectTitle {
        font-size: 5.5vw;
    }
    
    .projectSubtitle {
        font-size: 3vw;  
        margin: 1% 0 2% 0;
    }

    .projectRole {
        font-size: 3vw;
    }
    
    .readCS {
        font-size: 2vw;
        margin-top: 3%;
        border: 2px solid #e7e7e7;
        background-color: white;
        padding: 14px 28px;                
    }
  }

/* iPhone 6,7,8+ Landscape */
@media only screen and (max-width: 736px) and (orientation: landscape) {
    .projectSubtitle {
        line-height: 30px;
    }

    .projectRole {
        font-size: 3.5vw;
        margin: 2% 0 2% 0;
    }
    
    .readCS {
        font-size: 2.5vw;
    }
}

/* iPhone 5 and Galaxy Landscape */
@media only screen and (max-width: 640px) and (orientation: landscape) {
    .projectSubtitle {
        line-height: 25px;
    }

    .projectRole {
        margin: 1% 0 1% 0;
    }
}

/* mobile views */
@media only screen and (max-device-width: 480px){

    .curiaThumbnail {
        position: relative;
        height: 75vw;
        left: 11%;
        margin-top: -10%;
    }
    
    .projectTitle {
        font-size: 8vw;
    }
    
    .projectSubtitle {
        font-size: 5vw;  
    }

    .projectRole {
        font-size: 4vw;
    }
    
    .readCS {
        font-size: 4vw; 
        position: relative;          
    }
}