/* NAVIGATION */

.nav-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
}

.links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 20vh;
    padding-left: 2vw;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2em;
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 50px;
}
.is-active {
    color: #848484;
}

/* TABLET VIEW (1024) */
@media only screen and (max-width: 768px) {
    .nav-wrapper {
        display: none;
    }    
}