.project {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3fr 3fr;
    align-items: center
}

.project #project-text {
    text-align: left;
    padding-left: 16em;
}

.project #project-text h1 {
    font-weight: 700;
    color: #21273C;
    font-size: 3em;
    margin: 0
}

.project #project-text p {
    font-weight: 300;
    color: #21273C;
    padding-top: 0;
    width: 22vw;
}

.project #project-text #project-tags {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.project #project-tags #tag {
    background: rgba(196, 196, 196, 0.19);
    border: 2px solid #A7A8AC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 5vw;
    font-weight: 700;
    font-size: 0.7em;
    text-align: center;
    color: #A7A8AC;
    line-height: 2em;
}

.project img {
    width: 32vw;
    cursor: pointer;
}

.popup-overlay {
    background: rgb(255, 255, 255);
}

.modal {
    background: #f5f5f5;
    width: 75vw;
    height: 100vh;
}

.modal h1, .modal p{
    margin: 0;
}

.modal > .header {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 5% 0 2% 5%;
}

.modal > .header h1{
    color: #21273C;
    font-weight: 700;
    font-size: 3em;
}

.modal > .header p{
    color: #21273C;
    font-weight: 300;
    font-size: 1.2em;
    width: 70%;
}

.modal > .content {
    display: grid;
    grid-template-rows: 10% 90%;
}

.modal > .content #content-info {
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.modal > .content h2 {
    margin: 0;
    color: #535353;
    opacity: 0.8;
    font-weight: 600;
    font-size: 1.2em;
}

.modal > .content p {
    margin: 5% 0 10% 0;
    color: #acacac;
    font-weight: 500;
    font-size: 0.8em;
    word-break: break-word;
}

.modal > .content img{
    width: 59vw;
    padding: 8% 0 0 10%;
    align-self: center;
}

.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    right: 20px;
    top: 10px;
    font-size: 2.5em;
    background: #ffffff;
    border: none;
    background: none;
}

/* DESKTOP VIEW (1024) */
@media only screen and (max-width: 1024px) {
    .project #project-tags #tag {
        width: 6vw;
    }
        
    .project #project-text #project-tags {
        grid-template-columns: 1fr 1fr 3fr;
    }

    .project #project-text p {
        width: 30vw
    }

    .project #project-text {
        padding-left: 10em;
    }

    .modal > .content img{
        width: 44vw;
        padding-top: 15%;
    }    
}


/*     TABLET VIEW     */
@media only screen and (max-width: 768px) {
        
    .project #project-text p {
        font-size: 0.9em;
        width: 29vw
    }

    .project #project-tags #tag {
        width: 8vw;
    }

    .project #project-text #project-tags {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .project #project-text {
        padding-left: 8em;
    }

    .modal {
        width: 35vw;
        height: 55vh;
    }

    .modal > .content img{
        display: none;
    }
    .modal > .content h2 {
        font-size: 1.3em;
    }  
  
    .modal > .content {
        display: flex;
        margin-left: 5%;
    }

    .modal > .content #content-info {
        padding-top: 15%;
    }    
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 425px) {
    .project {
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .project #project-text {
        width: 100vw
    }
    
    .project #project-text h1{
        text-align: center;
        padding-top: 5vh;
    }

    .project #project-text p{
        font-size: 0.8em;
        width: 90vw;
        padding-left: 5%;
        text-align: center;
    }

    .project #project-tags #tag {
        width: 15vw;
        font-size: 0.8em;
    }

    .project #project-text #project-tags {
        display: flex;
        justify-content: center;
    }

    .project #project-text {
        padding-left: 0;
    }

    .project img {
        padding-top: 5vh;
        width: 90vw;
        cursor: pointer;
    }

    .modal {
        width: 85vw;
        height: 60vh;
    }

    .modal > .content {
        display: flex;
        margin-left: 5%;
    }
}

/* MOBILE VIEW (375) */
@media only screen and (max-width: 375px) {
    .project {
        width: 100vw;
    }

    .modal {
        width: 100vw;
        height: 65vh;
    }

    .modal > .content h2 {
        font-size: 1.7em;
    }

    .modal > .content p {
        font-size: 1.2em;
    }
}

/* MOBILE VIEW (320) */
@media only screen and (max-width: 375px) {
    .modal {
        width: 100vw;
        height: 70vh;
    }
}

/* MOBILE VIEW (320) */
@media only screen and (max-width: 320px) {
    .project {
        width: 100vw;
    }

    .project #project-tags #tag {
        width: 20vw;
    }

    .project img {
        width: 90vw;
    }

    .modal {
        width: 140vw;
    }    
}