/* CONTACT */
#contact {
    text-align: center;
}

#contact h1 {
    padding-top: 15%;
    font-weight: 700;
    color: #21273C;
    font-size: 40px;
    margin: 0 0 10px 0;
}

.contactSubtext {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    color: grey;
}

.qrCode {
    width: 10em;
}

#emailOptionText {
    font-size: 15px;
}

/* DESKTOP VIEW (1024) */
@media only screen and (max-width: 1024px) {
    .form-item {
        width: 45%;
    }
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 425px) {    
    .form-item {
        width: 80%;
    }

    label {
        font-size: 0.8em;
    }

    #submit-btn {
        width: 100px;
        height: 40px;
        font-size: 1em;
    }    

    #contact h1 {
        padding-top: 25%;
    }    
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 375px) {
}

/* MOBILE VIEW (320) */
@media only screen and (max-width: 320px) {

}