.contactHeader {
    top: 380%;
    left: 13%;
    color: #361671;
}

#contactDescription {
    position: absolute;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 2.6vh;
    letter-spacing: 0.0676924px;    
    color: #646464;
}

.description1 {
    top: 390%;
    left: 13%;
}

.description2 {
    top: 398%;
    left: 13%;
    width: 25vw;
}

.pattern {
    top: 373%;
    position: absolute;
    left: 42%;
    height: 70vh;
}

.portrait {
    position: absolute;
    top: 380%;
    right: 0%;
    height: 34vw;
}

.hireMeButton {
    top: 410%;
    left: 13%;
    position: absolute;
    border: 1vh solid;
    border-radius: 5px;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(193,230,240,1) 0%, rgba(233,200,235,1) 100%);
    background: none;
    padding: 1rem 2rem;
    cursor: pointer;

    font-size: 2.5vh;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;    
    letter-spacing: 0.0676924px;
    color: #000000;    
}

.hireMeButton:hover {
    top: 409.5%;
    left: 13%;
    position: absolute;
    border: 1vh solid;
    border-radius: 5px;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(193,230,240,1) 0%, rgba(233,200,235,1) 100%);
    background: none;
    padding: 1rem 2rem;
    cursor: pointer;

    font-size: 2.5vh;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;    
    letter-spacing: 0.0676924px;
    color: #000000;    
}

.linkedInLogo {
    position: absolute;
    top: 422%;
    left: 12.2%;
    height: 8vh;
    opacity: 30%;
}

.linkedInLogo:hover {
    position: absolute;
    top: 422%;
    left: 12.2%;
    height: 8vh;
    opacity: 100%;
}

.githubLogo {
    position: absolute;
    top: 423.2%;
    left: 17.5%;
    height: 6vh;
    opacity: 30%;
}

.githubLogo:hover {
    position: absolute;
    top: 423.2%;
    left: 17.5%;
    height: 6vh;
    opacity: 100%;
}

@media(max-width: 700px) {
    .contactHeader {
        top: 385%;
        left: 13%;
    }
    
    #contactDescription {
        left: 13%;
        font-size: 2.8vw;
    }
    
    .description1 {
        top: 394%;
    }
    
    .description2 {
        top: 399%;
        width: 45vw;
    }
    
    .pattern {
        top: 380%;
        left: 35%;
        height: 75vw;
        opacity: 0.4;
    }
    
    .portrait {
        top: 397%;
        height: 43vw;
    }
    
    .hireMeButton {
        top: 410%;
        left: 13%;
        border: 0.8vh solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, rgba(193,230,240,1) 0%, rgba(233,200,235,1) 100%);
        padding: 1rem 2rem;
        font-size: 2.5vw;
    }
    
    .linkedInLogo {
        top: 420%;
        left: 11%;
        height: 6vh;
        opacity: 50%;
    }
    
    .githubLogo {
        top: 420.7%;
        left: 19.9%;
        height: 4.8vh;
        opacity: 50%;
    }
    
    .githubLogo:hover {
        position: absolute;
        top: 423.2%;
        left: 17.5%;
        height: 6vh;
        opacity: 100%;
    }    
}