#hello-body {
    text-align: center;
    padding-top: 17%;
    font-size: 1.5em;
}

#lottie-scroll-animation {
    padding-top: 9em;
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 425px) {
    #hello-body {
        padding-top: 200px;
        width: 100vw;
        position: relative;
        z-index: -100;
    }

    #lottie-scroll-animation {
        padding-top: 6em;
        position: relative;
        z-index: -100;
    }
}

/* MOBILE VIEW (375) */
@media only screen and (max-width: 375px) {

    #lottie-scroll-animation {
        padding-top: 7em;
    }
}

/* MOBILE VIEW (320) */
@media only screen and (max-width: 320px) {
    #hello-body {
        padding-top: 70%;
    }
}