#hello-body {
    text-align: center;
    padding-top: 20%;
    font-size: 35px;
}

#lottie-scroll-animation {
    padding-top: 200px;
}

/* TABLET VIEW (768) */
@media only screen and (max-width: 768px) {
    #hello-body {
        padding-top: 35%;
        font-size: 35px;
    }
    
    #lottie-scroll-animation {
        padding-top: 250px;
    }
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 425px) {
    #hello-body {
        padding-top: 200px;
        width: 100vw;
        position: relative;
        z-index: -100;
    }

    #lottie-scroll-animation {
        padding-top: 6em;
        position: relative;
        z-index: -100;
    }
}

/* MOBILE VIEW (375) */
@media only screen and (max-width: 375px) {

    #lottie-scroll-animation {
        padding-top: 7em;
    }
}

/* MOBILE VIEW (320) */
@media only screen and (max-width: 320px) {
    #hello-body {
        padding-top: 70%;
    }
}