.projectWrapper {
    display: flex;
    justify-content: center;
}

.project {
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 3% 1% 1% 1%;    
    padding: 3%;
    width: 20vw;;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1);
    left: 35%;
    cursor: pointer;
}

.projectName {
    font-size: 4vh;
    font-weight: 600;
    letter-spacing: -1px;
}