/* Global styles */
#description {
    position: absolute;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vh;
    line-height: 4vh;
    letter-spacing: 0.0676924px;
    color: #3B3B3B;    
}

#tag {
    position: absolute; 
    height: 4vh;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 2vh;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;   
    border-radius: 6px;
}

#tools {
    position: absolute;
    height: 5.5vh;
}

/* Housie styles */
.housieLogo {
    position: absolute;
    height: 18vh;
    left: 44%;
    top: 108%;    
}

.housieHeader {
    width: 133px;
    top: 123%;
    left: 46.5%;
    color: #3B3B3B;
}

.housieDescription {
    width: 470px;
    top: 127.5%;
    left: 38%;
}

.iosTag {
    top: 132.5%;
    width: 13.5vw;
    left: 35%;
    background: #ACD3F1;
}
.iosTag:hover {
    top: 132.4%;
    width: 13.5vw;
    left: 35%;
    background: #ACD3F1;
}

.designTagHousie {
    top: 132.5%;
    width: 10vw;
    left: 49%;
    background: #EFAFE7;
}

.designTagHousie:hover {
    top: 132.4%;
    width: 10vw;
    left: 49%;
    background: #EFAFE7;
}

.uxuiTag {
    top: 132.5%;
    width: 6vw;
    left: 59.5%;
    background: #EFAFE7;
}

.uxuiTag:hover {
    top: 132.4%;
    width: 6vw;
    left: 59.5%;
    background: #EFAFE7;
}

.housieTools {
    left: 47%;
    top: 138%;
}

.housieApp {
    position: absolute;
    top: 145%;
    width: 100vw;
    height: 90vh;
    left: 0%;
}

/* Qualcat */
.qualcatLogo {
    position: absolute;
    height: 15vh;
    left: 13%;
    top: 253%; 
}

.qualcatHeader {
    top: 245%; 
    left: 24%;
    color: #3B3B3B;
}

.qualcatDescription {
    top: 250.5%; 
    width: 20vw;
    left: 24%;
}

.devTagQualcat {
    top: 263%;
    width: 16vw;
    left: 24%;
    background: #ACD3F1;    
}

.designTagQualcat {
    top: 268%;
    width: 10vw;
    left: 24%;
    background: #EFAFE7;
}
.designTagQualcat:hover {
    top: 267.9%;
    width: 10vw;
    left: 24%;
    background: #EFAFE7;
}

.qualcatTools {
    top: 273.5%;
    left: 24%;
}

/* Portfolio */
.portfolioLogo {
    position: absolute;
    height: 15vh;
    left: 56%;
    top: 253%;
}

.portfolioHeader {
    top: 245%; 
    left: 66%; 
    color: #3B3B3B;
}

.portfolioDescription {
    top: 250.5%; 
    width: 20vw;
    left: 66%;
}

.devTagPortfolio {
    top: 263%;
    width: 13vw;
    left: 66%;
    background: #ACD3F1;  
}

.devTagPortfolio:hover {
    top: 262.9%;
    width: 13vw;
    left: 66%;
    background: #ACD3F1;  
}

.designTagPortfolio{
    top: 268%;
    width: 10vw;
    left: 66%;
    background: #EFAFE7;
}

.uxuiTagPortfolio {
    top: 268%;
    width: 6vw;
    left: 76.5%;
    background: #EFAFE7;
}

.uxuiTagPortfolio:hover {
    top: 267.9%;
    width: 6vw;
    left: 76.5%;
    background: #EFAFE7;
}

.portfolioTools {
    top: 273.5%;
    left: 66%;
}

@media(max-width: 1000px) {
    #description {
        font-size: 3vw;
        line-height: 4vw;
        text-align: center;
    }

    #tools {
        height: 9vw;
    }

    #tag {
        height: 5vw;
        font-size: 2.5vw;
    }

    /* Housie styles */
    .housieLogo {
        height: 25vw;
        left: 34%;
        top: 99%;    
    }

    .housieHeader {
        width: 133px;
        top: 112%;
        left: 40%;
    }

    .housieDescription {
        width: 470px;
        top: 119%;
        left: 10%;
    }

    .iosTag {
        top: 125%;
        width: 31vw;
        left: 35%;
    }

    .designTagHousie {
        top: 129%;
        width: 24vw;
        left: 39%;
    }

    .uxuiTag {
        top: 133%;
        width: 14vw;
        left: 44%;
    }

    .housieTools {
        left: 41%;
        top: 139%;
    }

    .housieApp {
        top: 143%;
        width: 100vw;
        height: 50vh;
    }

    /* Qualcat */
    .qualcatLogo {
        height: 15vh;
        left: 40%;
        top: 192%; 
    }

    .qualcatHeader {
        top: 209%; 
        left: 40%;
    }

    .qualcatDescription {
        top: 215%; 
        width: 55vw;
        left: 24%;
    }

    .devTagQualcat {
        top: 222%;
        width: 38vw;
        left: 32%;
    }

    .designTagQualcat {
        top: 226%;
        width: 24vw;
        left: 39%;
    }

    .qualcatTools {
        top: 232%;
        left: 33%;
    }

    /* Portfolio */
    .portfolioLogo {
        height: 15vh;
        left: 43.5%;
        top: 248%;
    }

    .portfolioHeader {
        top: 265%; 
        left: 40%; 
    }

    .portfolioDescription {
        top: 271%; 
        width: 60vw;;
        left: 23%;
    }

    .devTagPortfolio {
        top: 278%;
        width: 33vw;
        left: 36%;
    }

    .designTagPortfolio{
        top: 282%;
        width: 25vw;
        left: 40%;
    }

    .uxuiTagPortfolio {
        top: 286%;
        width: 15vw;
        left: 45%;
    }

    .portfolioTools {
        top: 292%;
        left: 38%;
    }    
}