#resume_btn {
    width: 148px;
    height: 33px;
    border: none;
    color: white;
    background: #83AFC8;
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
}

#lottie-animation-resume {
    padding-top: 10%;
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 425px) {
    #lottie-animation-resume {
        padding-top: 40%;
    }

    #lottie-animation-resume .animation {
        width: 100vw;
    }

    #resume_btn {
        width: 100px;
        height: 40px;
        font-size: 1em;
    }
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 375px) {
}

/* MOBILE VIEW (320) */
@media only screen and (max-width: 320px) {
}