#resume {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#resume_btn {
    font-family: 'Montserrat';
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    background: #83AFC8;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 0px;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -20px;
}

#resume_btn:hover {
    background:rgb(148, 199, 228);
}

#lottie-animation-resume {
    padding-top: 10%;
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 425px) {
    #lottie-animation-resume {
        padding-top: 40%;
    }

    #lottie-animation-resume .animation {
        width: 100vw;
    }

    #resume_btn {
        width: 100px;
        height: 40px;
        font-size: 1em;
    }
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 375px) {
}

/* MOBILE VIEW (320) */
@media only screen and (max-width: 320px) {
}