.historyHeader {
    top: 306.5%;
    left: 13%;
    color: #361671;
}

.historyDescription {
    position: absolute;
    top: 313%;
    left: 13%;
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 24px;
    letter-spacing: 0.0676924px;
    color: #646464;   
}

#dash {
    position: absolute;
    width: 15vw; 
    border: 2px dashed #DADADA;
}

.curiaDash {
    top: 329.3%;
    left: 34%;
}

.ORDash {
    top: 349%;
    left: 53.5%;
}

.workHistoryLine {
    position: absolute;
    top: 311%;
    left: 50%
}

#workItem {
    cursor: pointer;
}

#companyHeader {
    position: absolute;
    font-weight: bold;
    font-size: 3.5vh;
    letter-spacing: 0.0676924px;
    color: #434343;
}

#companyRole {
    position: absolute;
    font-weight: 400;
    font-size: 2.5vh;
    letter-spacing: 0.0676924px;
    color: #434343;
}

.curiaHeader {
    top: 327%;
    left: 28%;
}

.curiaRole {
    top: 331.5%;
    left: 23.5%;
}

.curiaTools {
    top: 339.5%;
    left: 20.4%;
}

.curiaToolsMobile {
    display: none;
}

.ORHeader {
    top: 346.5%;
    left: 70%;
}

.ORRole {
    top: 351%;
    left: 70%;
}
.ORTools {
    top: 359%;
    left: 70%;
}

.ORToolsMobile {
    display: none;
}

#locationIcon {
    position: absolute;
    height: 3vh;
}

.curiaIcon {
    top: 335%;
    left: 21.3%;
}

.ORIcon {
    top: 354.5%;
    left: 69.9%;
}

#location {
    position: absolute;
    font-weight: 350;
    font-size: 2vh;
    letter-spacing: 0.0676924px;
    color: #989898;
}

.curiaLocation {
    top: 335.2%;
    left: 23.3%;
}

.ORLocation {
    top: 354.7%;
    left: 71.9%;
}


@media only screen and (max-width: 768px) {
    #companyHeader {
        font-size: 3vh;  
    }
    
    #companyRole {
        font-size: 2vh;  
    }    
    .historyHeader {
        top: 312%;
        left: 29%;
    }
    
    .historyDescription {
        top: 318%;
        left: 23%;
        font-size: 4vw;
        line-height: 3vh;
        width: 180px;
        text-align: center;
    }
    
    #dash {
        display: none;
    }
  
    .workHistoryLine {
        display: none;
    }    
    
    .curiaDash {
        top: 338%;
        left: 32%;
    }
    
    .ORDash {
        top: 355.8%;
        left: 32%;
    }
    
    .curiaHeader {
        top: 333%;
        left: 42%;
    }
    
    .curiaRole {
        top: 337%;
        left: 37%;
    }
    
    .curiaToolsMobile {
        display: block;
        top: 343.5%;
        left: 32%;
    }

    .curiaIcon {
        top: 340%;
        left: 31%;
    }

    .curiaLocation {
        top: 340.2%;
        left: 37%;
    }
    
    .ORHeader {
        top: 354%;
        left: 36%;
        width: 50vw;
    }
    
    .ORRole {
        top: 358%;
        left: 32%;
    }

    .ORTools {
        display: none;
    }

    .ORToolsMobile{
        display: block;
        top: 365.5%;
        left: 36%;
    }
    .ORIcon {
        top: 361.5%;
        left: 36%;
    }
   
    .ORLocation {
        top: 361.6%;
        left: 42%;
    }
}