html, body {
    margin: 1%;
    height: 100%;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.section {
    min-height: 100vh
}

a {
    text-decoration: none;
    color: #C4C4C4;
    cursor: pointer;
}

a:hover {
    color: #848484;
}

a:active {
    color: #848484;  
}

button {
    cursor: pointer;
    outline: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding-top: 10;
    width: 100vw;
}

/* DESKTOP VIEW (1024) */
@media only screen and (max-width: 1024px) {

}

/*     TABLET VIEW     */
@media only screen and (max-width: 768px) {
}

/* MOBILE VIEW (425) */
@media only screen and (max-width: 425px) {
    .nav {
        width: 110vw;
    }
}

/* MOBILE VIEW (375) */
@media only screen and (max-width: 375px) {
    .nav {
        width: 130vw;
    }
}

/* MOBILE VIEW (320) */
@media only screen and (max-width: 320px) {
    .nav {
        width: 155vw;
    }
}