/* css reset to account for default settings in different browsers */
@import url('https://fonts.googleapis.com/css?family=Poppins:extralight,lightitalic, regular, regularitalic, medium, mediumitalic, semibold, semibolditalic, bold, bolditalic, extrabold, extrabolditalic, black, blackitalic');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Poppins', 'Helvetica Neue', sans-serif, 'Arial';
}

#header {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 4vh;
  line-height: 5vh;
  letter-spacing: 0.0676924px;
}

#main-section {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 65vh;
}

#myWork {
  height: 80vh;
  background-color: white;
}

#contact {
  height: 70vh;
  background-color: white
}

#navButton{
  list-style-type: none;
  font-weight: 500;
  font-size: 1.2vw;
  cursor: pointer;   
  color:#361671;
  letter-spacing: 2px;
}

.contactButton{
  position: absolute;
  left: 36%;
  top: 45.119%;
}

.contactButton:hover{
  top: 44.8%;  
}


.aboutButton{
  position: absolute;
  left: 48.5%;
  top: 45.119%;
  text-decoration: none;
}

.aboutButton:hover {
  top: 44.8%;  
}

.resumeButton{
  position: absolute;
  left: 60%;
  top: 45.119%;
}

.resumeButton:hover {
  top: 44.8%;  
}

.titleLight{
  position: absolute;
  left: 30.55%;
  top: 22.5%;
  font-weight: 310;
  font-size: 5.8vw;
  line-height: 6vw;
  letter-spacing: 0.03vw;
}

.titleBold{
  position: absolute;
  left: 48%;
  top: 22.5%;
  font-weight: bold;
  font-size: 5.8vw;
  line-height: 6vw;
  letter-spacing: 0.03vw;  
}

.titleSubtext{
  position: absolute;
  left: 43%;
  top: 35%;
  font-weight: lighter;
  font-size: 2.3vw;
  line-height: 4vw;
  letter-spacing: 0.03vw;
}

/* ipad Pro Landscape*/
@media only screen and (max-width: 1366px) and (orientation: landscape) {
  #main-section {
    height: 55vh;
  }

  #myWork {
    height: 180vh;
  }
  
  #contact {
    height: 60vh;
  }
  
  #header {
    font-size: 5vw;
  }

  #navButton{
    top: 44%;
    font-size: 2.2vw;
    padding: 10px 26px;   
    border: 2px solid #e7e7e7;
    background-color: white; 
    border-radius: 2px;     
  }
  .contactButton{
    left: 23%;
  }  

  .contactButton:hover{
    top: 44%;
  }
    
  .aboutButton{
    left: 45%;
  }  

  .aboutButton:hover{
    top: 44%;
  }

  .resumeButton{
    left: 64%;
  }  

  .resumeButton:hover{
    top: 44%;
  }
}

/* ipad Pro Portait*/
@media only screen and (max-width: 1024px) {
  #main-section {
    height: 55vh;
  }

  #myWork {
    height: 90vh;
  }
  
  #contact {
    height: 60vh;
  }
  
  #header {
    font-size: 5vw;
  }

  #navButton{
    top: 40%;
    font-size: 2.5vw;
    padding: 10px 26px;   
    border: 2px solid #e7e7e7;
    background-color: white; 
    border-radius: 2px;     
  }

  .contactButton{
    left: 23%;
  }  

  .contactButton:hover{
    top: 40%;
  }
    
  .aboutButton{
    left: 43%;
  }  

  .aboutButton:hover{
    top: 40%;
  }

  .resumeButton{
    left: 61%;
  }  

  .resumeButton:hover{
    top: 40%;
  }
  
  .titleLight{
    font-size: 7vw;
    left: 26%;
    top: 20%;
  }   
  .titleBold{
    font-size: 7vw;
    left: 47%;
    top: 20%;
  }   
  .titleSubtext {
    font-size: 4vw;
    left: 37%;
    top: 30%;
  }
}

/* iPad Landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  #main-section {
    height: 65vh;
  }

  #myWork {
    height: 150vh;
  }
  #contact {
    height: 80vh;
  }
}

/* iPhone X  and Pixel 2 Landscape */
@media only screen and (max-width: 823px) and (orientation: landscape) {
  #main-section {
    height: 90vh;
  }

  #myWork {
    height: 270vh;
  }
  #contact {
    height: 130vh;
  }

  #header {
    font-size: 6vw;
  }

  #navButton{
    font-size: 2vw;
    padding: 8px 24px;   
    top: 58%;
  }

  .contactButton{
    left: 23%;
  }  

  .contactButton:hover{
    top: 58%;
  }
    
  .aboutButton{
    left: 43%;
  }  

  .aboutButton:hover{
    top: 58%;
  }

  .resumeButton{
    left: 60%;
  }  

  .resumeButton:hover{
    top: 58%;
  }
  
  .titleLight{
    font-size: 6.5vw;
    left: 26.5%;
  }   

  .titleBold{
    font-size: 6.5vw;
    left: 46%;
    top: 20%;
  }   
  .titleSubtext {
    font-size: 3.5vw;
    left: 38%;
    top: 38.5%;
  }  
}

/* ipad portrait */
@media only screen and (max-width: 768px) {
  #main-section {
    height: 60vh;
  }

  #myWork {
    height: 100vh;
  }
  
  #contact {
    height: 60vh;
  }
  
  #header {
    font-size: 6vw;
  }

  #navButton{
    font-size: 2.5vw;
    padding: 10px 26px;   
    border: 2px solid #e7e7e7;
    background-color: white; 
    border-radius: 2px; 
    top: 41%;
  }

  .contactButton{
    left: 20%;
  }  

  .contactButton:hover{
    top: 43%;
  }
    
  .aboutButton{
    left: 41%;
  }  

  .aboutButton:hover{
    top: 43%;
  }

  .resumeButton{
    left: 59%;
  }  

  .resumeButton:hover{
    top: 43%;
  }
  
  .titleLight{
    font-size: 8vw;
    left: 23%;
    top: 20%;
  }   
  .titleBold{
    font-size: 8vw;
    left: 45%;
    top: 20%;
  }   
  .titleSubtext {
    font-size: 4.5vw;
    left: 34%;
    top: 30%;
  }
}

/* iPhone 6,7,8+, iPhone 5, 678 and Galaxy and Moto Landscape */
@media only screen and (max-width: 736px) and (orientation: landscape) {
  #main-section {
    height: 80vh;
  }

  #myWork {
    height: 200vh;
  }
  
  #contact {
    height: 100vh;
  }
  
  #header {
    font-size: 6vw;
  }

  #navButton{
    font-size: 2.5vw;
    top: 50%;
  }

  .contactButton{
    left: 14%;
  }  

  .contactButton:hover{
    top: 50%;
  }

  .aboutButton {
    left: 42%;
  }

  .aboutButton:hover{
    top: 50%;
  }
  
  .resumeButton{
    left: 66%;
  }  

  .resumeButton:hover{
    top: 50%;
  }

  .titleLight{
    font-size: 8vw;
    left: 22%;
    top: 17%;
  }   
  .titleBold{
    font-size: 8vw;
    left: 46%;
    top: 17%;
  }   
  .titleSubtext {
    font-size: 4vw;
    left: 37%;
    top: 35%;
  }
}

/* iPhone 6,7,8+ to X Portrait */
@media only screen and (max-device-width: 480px){
  #main-section {
    height: 55vh;
  }

  #myWork {
    height: 95vh;
  }
  
  #contact {
    height: 65vh;
  }
  
  #header {
    font-size: 7vw;
  }

  #navButton{
    font-size: 3vw;
    padding: 8px 15px; 
    top: 35%;
  }

  .contactButton{
    left: 12%;
  }  

  .contactButton:hover{
    top: 38%;
  }

  .aboutButton {
    left: 40%;
  }

  .aboutButton:hover{
    top: 38%;
  }
  
  .resumeButton{
    left: 64%;
  }  

  .resumeButton:hover{
    top: 38%;
  }

  .titleLight{
    font-size: 9vw;
    left: 18%;
    top: 17%;
  }   
  .titleBold{
    font-size: 9vw;
    left: 45%;
    top: 17%;
  }   
  .titleSubtext {
    font-size: 6vw;
    left: 29%;
    top: 27%;
  }
}

/* Pixel Portait */
@media only screen and (max-device-width: 411px){
  #contact {
    height: 55vh;
  }
}

/* iPhone 6,7,8 and Galaxy and Moto Portait */
@media only screen and (max-device-width: 375px){
  #main-section {
    height: 50vh;
  }

  #contact {
    height: 60vh;
  }

  .titleSubtext {
    top: 25%;
  }

  #navButton{
    top: 32%;
  }
}

/* iPhone 5 Portait */
@media only screen and (max-device-width: 320px){
  #main-section {
    height: 47vh;
  }

  #myWork {
    height: 85vh;
  }

  #contact {
    height: 50vh;
  }

  .titleSubtext {
    top: 24%;
  }

  #navButton{
    top: 30%;
  }  
}